@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@700&family=Open+Sans:wght@300;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
	--dark-color: #073B4C;; /*2b2b2b;*/
	--light-color: #ede8e8;
    --trans-color: #ede8e850;

	--main-font: 'Noto Sans HK', sans-serif;
	--secondary-font: 'Open-Sans', sans-serif;

    --secfont-light: 300;
    --secfont-medium: 500;
    --secfont-semibold: 600;
    --secfont-bold: 700;
}

body {
    background-color: var(--dark-color);
    min-height: 100vh;
}

.page-header {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 2rem;
    text-align: center;
}

.main-title {
    font-family: var(--main-font);
    font-size: 2.8rem;
    letter-spacing: 0.05rem;
    padding-bottom: 0.5rem;
}

.subtitle {
    display: inline-block;
    font-family: var(--secondary-font);
    padding-top: 1rem;
    border-top: 3px dotted var(--light-color);

}

.content {
    background-color: var(--dark-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin: 0 2rem 2rem;
}

.post {
    display: grid;
    grid-template-areas:
        'post-title post-title post-date'
        'post-text post-text post-text';
    align-items: flex-start;
    padding: 2rem;
    background-color: var(--trans-color);
    border-radius: .5rem;
}

h2, a {
    font-family: var(--main-font);
    text-decoration: none;
    color: var(--light-color);
    grid-area: post-title;
}

span {
    text-align: right;
    color: var(--light-color);
    font-family: var(--secondary-font);
    font-weight: var(--secfont-medium);
    font-size: .8rem;
    text-transform: lowercase;
    grid-area: post-date;
}

.text {
    font-family: var(--secondary-font);
    font-weight: var(--secfont-medium);
    color: var(--light-color);
    padding-top: 1.2rem;
    line-height: 1.5;
    grid-area: post-text;
}